.cp-circle {
    clip-path: circle(25% at center);
}

.cp-ellipse {
    clip-path: ellipse(10% 50% at center);
}

.cp-polygon {
    width: 300px;
    aspect-ratio: 1/1;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.mi-gradient{
    mask-image: linear-gradient(to bottom, transparent 0%, black 10%, transparent 100%);
}

.mi-radial-gradient{
    mask-image: radial-gradient(circle at center, black 0%, transparent 100%);
}

.mi-image{
    mask-image: url('../img/mask-image.png');
    mask-size: cover;
}