.fit-contain { 
    object-fit: contain; /*Achica la imagen para que entre en el contenedor*/
}

.fit-cover {
    object-fit: cover; /*Respeta el tamaño de la imagen, pero oculta lo que sale del contenedor*/
}

.position-top {
    object-position: top;
}

.position-center {
    object-position: center;
}

.position-bottom {
    object-position: bottom;
}

* {
    margin: 0;
    box-sizing: border-box;
}

main {
    min-height: 200px;
    background-color: whitesmoke;
    border-radius: 0.5rem;
    margin: 2rem auto;
    padding: 1rem;
}

hr {
    margin: 1rem 0;
}

h1{
    text-align: center  ;
}

.imagen {
    width: 300px;
    height: 300px;
}

.figures {
    display: flex;
    justify-content: center;
    gap: 30px;

    figure {
        outline: solid 2px black;
    }

    figcaption {
        text-align: center;
    }
}
